<!-- Боковое меню -->
<div class="sidebar">
    <h5 class="mb-4">Меню</h5>
    <a href="{% url 'catalog:products_list' %}" class="active">Каталог</a>
<!--    <a href="#">Заказы</a>-->
    <a href="{% url 'catalog:contacts' %}">Контакты</a>
    <a href="{% url 'blog:list' %}">Блог</a>
    {% if user.is_authenticated %}
    <a href="{% url 'user:logout' %}">Выход</a>
    {% else %}
    <a href="{% url 'user:login' %}">Вход</a>
    {% endif %}
<!--    <a href="{% url 'blog:list' %}">Блог</a>-->
    <hr class="my-3">
<!--    <a href="#">Профиль</a>-->
<!--    <a href="#">Выход</a>-->
    <div class="mt-4">
<!--        <span>Пользователь</span>-->
    </div>
</div>